{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>SK Diamante</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
    <link rel="icon" href="{% static 'dashboard/img/sklogo.png' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/css/main.css'%}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'login_page/images/background.jpeg'%}');">
			<div class="wrap-login100 p-t-50 p-b-50">
				<form class="login100-form validate-form" method="POST">
                    {% csrf_token %}
					<div class="login100-form-avatar">
						<img src="{% static 'dashboard/img/sklogo.png' %}" alt="SK Logo" >
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
						Sangguniang Kabataan
                        Baranggay Diamante
					</span>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
                        {{ form.username | as_crispy_field }}
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
                        {{ form.password | as_crispy_field }}
					</div>

					<div class="container-login100-form-btn p-t-10">
						<button class="login100-form-btn">
							Login
						</button>
					</div>


				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'login_page/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_page/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'login_page/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_page/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_page/js/main.js'%}"></script>

</body>
</html>