{% extends 'dashboard/index.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h6 class="h3 mb-0 text-gray-800">Add Profile</h6>

    </div>
    <form method="POST" class="form-group">
        {% csrf_token %}
        <div style="display: flex; justify-content: center; align-items: center">
            <button type="submit" class="btn btn-primary" style="margin: 0px 10px 0px 10px">Save</button>
            <button type="reset" class="btn btn-secondary" style="margin: 0px 10px 0px 10px">Reset</button>

        </div>

        <hr>
    {% for message in messages %}

         <div class="alert alert-danger" role="alert">
                User already exists!
            </div>
    {% endfor %}

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">Personal Information</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm" style="margin-top: 10px">
                        <div class="row">
                            <div class="col-4" style="padding-top: 5px ; ">
                                <label for="first_name_input">First Name</label>
                            </div>
                            <div class="col">
                                {{ form.first_name | as_crispy_field }}
                            </div>

                        </div>
                    </div>
                    <div class="col-sm" style="margin-top: 10px">
                        <div class="row">
                            <div class="col-4" style="padding-top: 5px ; ">
                                <label for="middle_name_input">Middle Name</label>
                            </div>
                            <div class="col">
                                {{ form.middle_name | as_crispy_field }}
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm" style="margin-top: 10px">
                        <div class="row">
                            <div class="col-4" style="padding-top: 5px ; ">
                                <label for="last_name_input">Last Name</label>
                            </div>
                            <div class="col">
                                {{ form.last_name | as_crispy_field }}
                            </div>

                        </div>
                    </div>
                    <div class="col-sm" style="margin-top: 10px">
                        <div class="row">


                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-sm" style="margin-top: 10px">
                        <div class="row">
                            <div class="col-4" style="padding-top: 5px ; ">
                                <label for="birthday_input">Birthday</label>
                            </div>
                            <div class="col">
                                {{ form.birthday | as_crispy_field }}
                            </div>

                        </div>
                    </div>
                    <div class="col-sm" style="margin-top: 10px">
                        <div class="row">
                            <div class="col-4" style="padding-top: 5px ; ">
                                <label for="age_input">Age</label>
                            </div>
                            <div class="col">
                                {{ form.age | as_crispy_field }}
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm" style="margin-top: 10px">
                        <div class="row">
                            <div class="col-4" style="padding-top: 5px ; ">
                                <label for="purok_input">Purok</label>
                            </div>
                            <div class="col">
                                {{ form.purok | as_crispy_field }}


                            </div>

                        </div>
                    </div>
                    <div class="col-sm" style="margin-top: 10px">
                        <div class="row">
                            <div class="col-4" style="padding-top: 5px ; ">
                                <label for="sex_input">Sex</label>
                            </div>
                            <div class="col">

                                {{ form.sex | as_crispy_field }}
                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">Education Information</h5>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm" style="margin-top: 10px">
                        <div class="row">
                            <div class="col-4" style="padding-top: 5px ; ">
                                <label for="education_level_input">Education Level</label>
                            </div>
                            <div class="col">

                                {{ form.education_level | as_crispy_field }}
                            </div>

                        </div>
                    </div>
                    <div class="col-sm" style="margin-top: 10px">
                        <div class="row">
                            <div class="col-4" style="padding-top: 5px ; ">
                                <label for="education_year_input">Education Year</label>
                            </div>
                            <div class="col">

                                {{ form.education_year | as_crispy_field }}
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm" style="margin-top: 10px">
                        <div class="row">
                            <div class="col-2 col-xs-4" style="padding-top: 5px ; ">
                                <label for="school_input">School</label>
                            </div>
                            <div class="col">
                                {{ form.school | as_crispy_field }}
                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>


    </form>



{% endblock %}