{% extends 'dashboard/index.html' %}
{% load static %}


{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Profiles</h1>

    </div>

    <div class="card shadow mb-4" style="">
        <div class="card-body">

            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">


                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="tablesort" style="width: 100%;">
                                <thead>
                                <tr role="row">
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Name: activate to sort column descending"  style="width: 57px; display: none">
                                        First Name
                                    </th>

                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Name: activate to sort column descending" style="width: 57px;display: none">
                                        Last Name
                                    </th>
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Name: activate to sort column descending" style="width: 57px;">Full
                                        Name
                                    </th>

                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Office: activate to sort column ascending" style="width: 49px;">
                                        Education Level
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Age: activate to sort column ascending" style="width: 31px;">
                                        Education Year
                                    </th>


                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1" style="display: none">First Name</th>
                                    <th rowspan="1" colspan="1"style="display: none">Last Name</th>
                                    <th rowspan="1" colspan="1">Full Name</th>
                                    <th rowspan="1" colspan="1">Education Level</th>
                                    <th rowspan="1" colspan="1">Education Year</th>
                                </tr>
                                </tfoot>
                                <tbody>

                                {% if datas %}
                                    {% for data in datas %}
                                        <tr>
                                            <td style="display: none">{{ data.first_name }}</td>
                                            <td style="display: none">{{ data.last_name }}</td>
                                            <td><a href="{% url 'profile_page' data.slug %}">{{ data.full_name }}</a>
                                            </td>
                                            <td>{{ data.education_level }}</td>
                                            <td>{{ data.education_year | default_if_none:"" }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}

                                    <tr class="odd">
                                        <td colspan="5" style="text-align: center">Currently no data</td>

                                    </tr>


                                {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    {% block js %}
    <script src="{% static 'profiles/jquery/jquery.min.js'%}"></script>

    <script src="{% static 'profiles/jquery-datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'profiles/jquery-datatables/custom.jquery.dataTables.bootstrap5.min.js'%}"></script>
    <script src="{% static 'profiles/datatables.js'%}"></script>

        {% endblock %}
{% endblock %}