{% load static %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="{% static 'dashboard/img/sklogo.png' %}" alt="SK Logo" height="50px">
                </div>
                <div class="sidebar-brand-text mx-3">SK Diamante</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles' %}">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Profiles</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_profile' %}">
                    <i class="fas fa-fw fa-user-plus"></i>

                    <span>Add Profiles</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'generate_document' %}">
                    <i class="fas fa-fw fa-file"></i>
                    <span>Generate Document</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>